html, body {    
    margin: 0px;
    padding: 0px;
    width: 100%;    
}

#content {
    position: absolute;
    width: 100%;
    margin-top: 110px;
}

.about {
    display: block;    
    font-size: 2em;
    color: #000;
    text-align: center;
    padding-top: 10%;
    padding-left: 200px;
    padding-right: 200px;       
} 