html, body {    
    margin: 0px;
    padding: 0px;
    width: 100%;        
    background-color: #ddd;
}

#content {
    position: absolute;
    width: 100%;
    margin-top: 90px;
    margin-bottom: 110px;
}

.about {
    display: block;    
    font-size: 2em;
    color: #000;
    text-align: center;
    padding-top: 10%;
    padding-left: 200px;
    padding-right: 200px;       
} 

.address-container{    
    width: 80%;    
    height: auto;
    margin: auto;
    padding: 0;    
    border: none;    
}

.address-form {
    background-color: #fff;    
    width: 700px;    
    height: 100%;
    min-height: 150px;
    margin: 8% auto;
    padding: 0px;
    font-size: 1.2em;
    padding: 20px 30px;    
    border-radius: 5px;
}

.error-list {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 0.9em;
    /* margin: 10px;*/
    padding: 0px;   
    background-color: #FA8072;
    font-weight: bold;
}

.error-list ul {    
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: disc;
}

#address-text {
    width: 100%;
    text-align: center;
}

#address-box {
    width: 75%;
    height: 50px;
    text-align: left;
    margin: 0;
    padding: 15px;
    border: solid 2px #bbb;
    border-radius: 5px 0 0 5px;
}

#address-submit {
    margin-left: -7px;
    width: 25%;
    height: 50px;    
    background-color: #226abd;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;    
}

#address-submit:hover {
    background-color: #00489b;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 9999;
    padding-left: 80px;
    padding-right: 80px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.9);
}

.navbar-nav .nav-item .nav-link:hover, a:hover {
    text-decoration: underline;
    color: rgba(0,0,0,.9);
}

@media only screen and (max-width: 600px) {
    .address-form {      
        font-size: 1.05em;
        min-height: 140px;
        padding: 15px 23px;    
    }

    .about {
        font-size: 1.4em;
        padding-left: 50px;
        padding-right: 50px;
    }

    .navbar {        
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav-item {
        margin: auto;
        padding: auto;
        text-align: center;
        width: 100%;   
        border-top: solid 1px rgba(0,0,0,.3);     
    }
}

@media only screen and (min-width: 600px) and (max-width: 990px) {
    .about {
        font-size: 1.6em;
        padding-left: 80px;
        padding-right: 80px;
    }

    .navbar {
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav-item {
        margin: auto;
        padding: auto;
        text-align: center;
        width: 100%;   
        border-top: solid 1px rgba(0,0,0,.3);     
    }
}