ul {
    list-style: none;                   
}

a {
    text-decoration: none;
}

.restaurant {             
    display: block;           
    width: 65%;
    margin: auto;    
    padding: 0;
    background-color: #ddd;
}

.restaurant img {
    width: 100px;
    height: 100px;
    display: flex;
    float: left;
    border-radius: 10px;
}

.restaurant-info {
    display: block;                
    width: 100%;         
    margin-left: 15px;      
}        

.restaurant-info ul{      
    font-size: 0.8em;              
    margin-left: 75px;        
    padding-top: 10px;    
}   

.restaurant-info li{      
    margin: 0px 0px;
}   

.restaurant-info .restaurant-name {
    font-size: 1.9em;
    margin-bottom: 2px;
}

.restaurant-buttons ul{
    display: flex;
    width: 100%;
    margin-top: 50px;
    padding: 0;
    font-size: 1.15em;            
}

.restaurant-buttons li{        
    padding: 0px 15px;    
    border: solid 1px #ddd;            
}

.restaurant-buttons a{        
    color: #333;
    text-decoration: none;
}

.restaurant-buttons li:hover{        
    border-bottom: solid 1px #444;
}

.food-list {
    float: left;
    margin: 0;    
    padding: 0;    
    width: 68%;
    height: 100%;
}

.food {
    display: flex;        
    margin: 0px 5px 0px 0px;
    padding: 10px 15px;
    background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 5px;
}

.food li {
    width: 80%;
    max-width: 80%;
}

.food li .food-description {
    font-size: 0.8em;
}

.food button {
    margin: auto 0px auto 90px;
    padding: 0;
    width: 40px;
    height: 40px;        
    background-color: #226abd;
    border: none;
    border-radius: 5px;
    color:#fff;
    font-size: 1.5em;
}

.food button:hover {
    background-color: #00489b;
}

.restaurant-order {
    float: left;
    background-color: #fff;
    width: 32%;
    height: 100%;     
    border: none;
    border-radius: 5px;    
}

.buy-button {
    display: block;
    width: 100%;
    height: 55px;     
    background-color: #226abd;   
    color: #fff;
    font-size: 1.4em;
    border: none;
    border-radius: 0px 0px 5px 5px;        
}

.buy-button:hover {
    background-color: #00489b;
}

.restaurant-order .order {
    display: block;
    align-self: center;
    width: 88%;        
    font-size: 0.90em;       
    margin: auto;
    padding: 5px 0px;         
}

.restaurant-order .order ul {                                                 
    margin: auto;
    padding: 0px;         
    font-size: 0.95em;  
}    

.restaurant-order .remove-button{       
    margin: auto 5px auto 0px;        
    padding: 0;
    width: 23px;
    height: 23px;        
    background-color: #ddd;
    border: none;        
    color:#226abd;           
    font-size: 1.5em;             
    line-height: 0px;
    text-align: center;
}

.restaurant-order .remove-button:hover{           
    background-color: #aaa;
}

.restaurant-order .order li {
    margin: 0;
    padding: 5px 0px;        
}

.restaurant-order .no-food-selected {
    font-size: 0.9em;
    width: 100%;        
    text-align: center;                
}

.restaurant-order .order .total-price {        
    display: flex;
    width: 100%;        
    padding: 5px 0px;      
    margin: 5px 0;
    border-bottom: solid 1px #ddd;
}

.restaurant-order .order .total-price .orderline{                
    width: 75%;
}

.restaurant-order .order .total-price li {   
    width: 75%;     
    padding-left: 2px;        
    padding-right: 2px;        
}

.restaurant-order .order .total-price .price-number {                        
    text-align: right;   
    width: 25%;           
}

.restaurant-order .order .total-price.final { 
    font-size: 1.02em;
}

.review-list {
    margin: 0;
    padding: 0;    
    width: 100%;
    height: 100%;   
}

.review {
    width: 100%;
    margin: 0px 5px 0px 0px;
    padding: 10px 15px;
    background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 5px;
}

.review-title {
    font-weight: bold;    
}

.review-score, .review-comment {
    font-size: 0.9em;
}

.review-container {
    width: 100%;
    height: 100%;
    margin-top: 40px;
    padding: auto;
}

.review-container h4 {
    padding-left: 15px;
    font-size: 1.3em;   
    color: #333;     
}

.review-form {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 5px;    
    padding: 25px;
    margin: auto;
}

#title-box {    
    width: 83.52%;
    height: 40px;
    padding: 5px;
    padding-left: 10px;
    margin: 0;
    border: solid 2px #bbb;
    border-radius: 5px 0px 0px 5px;
}

#score-list {
    width: 16.65%;
    text-align: center;
    height: 40px;
    padding: 5px;
    margin: 0;
    margin-left: -6px;
    border: none;
    border-radius: 0px 5px 5px 0px;
}

select {
    text-align: center;
    text-align-last: center;    
}

#comment-box {
    width: 100%;
    height: 100px;            
    padding: 5px;
    padding-left: 10px;
    margin-top: 15px;
    border: solid 2px #bbb;
    border-radius: 5px;
    resize: none;
}

#review-submit {
    display: block;
    width: 30%;
    text-align: center;    
    height: 40px;
    padding: 5px;
    margin: 15px auto 0px auto;
    color: #fff;
    background-color: #226abd;
    border: none;
    border-radius: 5px;
}

.food-form {        
    display: inline-block;    
    width: 100%;                            
    margin: auto;
}

.food-form.form {
    margin: 70px auto 0 auto;
}

.food-form h4, .review-container h4 {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 1.3em;   
    color: #333;     
    padding-bottom: 5px;    
}

.food-form label{
    padding-left: 10px;    
    margin: auto;    
}

.form-group {
    margin: auto;
    margin-top: 20px;
}

.form-group.btn {
    display: block;
    width: 100%;
    padding: 0;    
}

.edit-food-btn {    
    width: 30%;
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
}

.edit-food-btn.create {
    background-color: #22A222;    
}

.edit-food-btn.create:hover {
    background-color: #008000;    
}

.edit-food-btn.edit {
    background-color: #226abd;    
}

.edit-food-btn.edit:hover {
    background-color: #00489b;    
}

.edit-food-btn.delete {
    background-color: #DC143C;
}

.edit-food-btn.delete:hover {
    background-color: #BA021A;
}

.summary {
    width: 100%;
    float: none;    
    margin-top: 25px;
    font-size: 1.4em;
}

.summary h2 {    
    text-align: center;
    font-size: 1.40em;
    padding-bottom: 5px;
}

.summary .restaurant-order {
    float: none;    
    width: 50%;    
    margin: auto;    
    padding: auto;
}

@media only screen and (max-width: 1080px) {
    .restaurant-order {        
        float: none;
        width: 100%;
    }

    .food-list {
        width: 100%;
        background-color: #ddd;
    }

    .food {
        width: 100%;
        margin: 1px 0;
        font-size: 0.9em;
    }
}