ul {
    list-style: none;                   
}

a {
    text-decoration: none;
    color: #000;    
}

._main_container {
    width: 60%;
    margin: auto;

}

._restaurants {
    display: inline-block;
    margin-top: 2em;
    width: 100%;
}

._filter option{
    font-size: 1em;
}

span {
    font-size: 1.4em;
    /*font-weight: bold;
    vertical-align: bottom;*/
}

.card, .card img
{
    border-radius: 5px;
}

.card-title {
    font-weight: bold;    
}

.address{    
    max-width: 15rem;   
    min-height: 7.5rem;
    height: min-content;    
    font-size: 0.85em;     
    margin-bottom: 20px; 
}

.address .card-body {    
    margin-bottom: 0;
    max-height: 40px;
    margin-bottom: 15px;
}

.address .card-header {
    font-size: 0.9em;
}

.address .card-body, .address .card-header {              
    width: auto;
    margin-top: 10px;   
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f8f9fa!important;
    border: none;    
    margin-left: 0;    
}

@media only screen and (max-width: 990px) {
    .address{    
        max-width: 100%;           
        font-size: 0.85em;      
    }
}