ul {
    list-style: none;                   
}

a {
    text-decoration: none;
    color: #000;    
}

._main_container {
    width: 60%;
    margin: auto;

}

._restaurants {
    display: inline-block;
    margin-top: 2em;
}

._filter option{
    font-size: 1em;
}

span {
    font-size: 1.4em;
    /*font-weight: bold;
    vertical-align: bottom;*/
}

.card, .card img
{
    border-radius: 5px;
}

.card-title {
    font-weight: bold;    
}